Repository chiskat/omn: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

fix(cicd): 补充 release 流程中的 build 步骤
  .github/workflows/release.yml
Due: none

chore(release): v1.0.1 版本发布
  package.json
Due: none

chore(exports): 更新导出字段，新增 ./pakcage.json 路径，且不再提供 browser 导出
  package.json
Due: none

chore(docs): 文档勘误
  docs/guide/common/retry.md
Due: prettier --list-different

chore(docs): 更新代码包大小 badge
  README.md
  docs/guide/bootstrap/introduction.md
Due: prettier --list-different

refactor(docs): 将文档文件名从 camelCase 改为 dash-case
  docs/.vitepress/config.mts
  docs/guide/common/as-list.md
  docs/guide/common/highlight-split.md
  docs/guide/common/is-env-on.md
  docs/guide/common/no-null.md
  docs/guide/misc/omn-error.md
  docs/guide/text/encode-uri-component-fixed.md
  docs/guide/text/format-phone-number.md
  docs/guide/text/length-of-en.md
  docs/guide/text/tag-template.md
  docs/guide/text/to-ends-with.md
  docs/guide/text/to-starts-with.md
  docs/guide/tree/list-to-tree.md
  docs/guide/tree/map-tree.md
  docs/guide/tree/traverse-tree.md
Due: prettier --list-different

chore(agents): 新增 Agent Skills
  .lintstagedrc
  AGENTS.md
  README.md
  docs/.vitepress/config.mts
  docs/guide/bootstrap/agent-skills.md
  docs/guide/bootstrap/introduction.md
  package.json
  skills/how-to-use-omn/SKILL.md
  skills/how-to-use-omn/references/common/as-list.md
  skills/how-to-use-omn/references/common/highlight-split.md
  skills/how-to-use-omn/references/common/is-env-on.md
  skills/how-to-use-omn/references/common/no-null.md
  skills/how-to-use-omn/references/common/result.md
  skills/how-to-use-omn/references/common/retry.md
  skills/how-to-use-omn/references/common/sleep.md
  skills/how-to-use-omn/references/misc/omn-error.md
  skills/how-to-use-omn/references/regular/daily.md
  skills/how-to-use-omn/references/regular/monthly.md
  skills/how-to-use-omn/references/regular/regular.md
  skills/how-to-use-omn/references/regular/weekly.md
  skills/how-to-use-omn/references/text/encode-uri-component-fixed.md
  skills/how-to-use-omn/references/text/format-phone-number.md
  skills/how-to-use-omn/references/text/length-of-en.md
  skills/how-to-use-omn/references/text/tag-template.md
  skills/how-to-use-omn/references/text/to-ends-with.md
  skills/how-to-use-omn/references/text/to-starts-with.md
  skills/how-to-use-omn/references/tree/list-to-tree.md
  skills/how-to-use-omn/references/tree/map-tree.md
  skills/how-to-use-omn/references/tree/traverse-tree.md
Due: prettier --list-different

chore(release): 发布 v1.1.0 版本
  package.json
Due: none

chore(scripts): 新增将符号链接转为文件拷贝的脚本，避免 npm 包 skills 目录缺失文件
  eslint.config.mjs
  package.json
  scripts/unsymlink.mjs
Due: eslint, prettier --list-different

chore(release): 发布 v1.1.1
  package.json
Due: none

chore(docs): 更新文档；更换全新 Logo；更换 Git 提交检查 Hook
  .husky/prepare-commit-msg
  CLAUDE.md
  docs/.vitepress/config.mts
  docs/index.md
  docs/public/logo.svg
Due: prettier --list-different

chore(linter): 更新 Prettier 导入排序顺序，按新规则重新调整所有文件 [ci skip]
  .lintstagedrc
  .prettierrc
  docs/guide/common/result.md
  package.json
  pnpm-lock.yaml
  scripts/unsymlink.mjs
  src/lib/asList.ts
  src/lib/highlightSplit.ts
  src/lib/regular/daily.ts
  src/lib/regular/monthly.ts
  src/lib/regular/weekly.ts
  src/lib/retry.ts
  src/lib/tree/traverseTree.ts
Due: eslint, prettier --list-different

chore(pakcage): 安装时不再会提示 "pnpm approve-builds"
  package.json
Due: none

chore(cicd): 避免 release 流水线 npm 更新报错，现在会先更新到 npm@~11.10.0 然后更新最新版本
  .github/workflows/release.yml
Due: none

chore(release): 发布 v1.1.2
  package.json
Due: none

Path conditions:
  eslint: (any of: *.ts) or (any of: *.mjs)
  prettier --list-different: ((any of: *.ts) or (any of: *.mjs)) or (any of: *.md)
